<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir archivos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mi Aplicación</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h1>Subir archivos</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
            <label for="barracas_csv">CSV Barracas:</label>
            <input type="file" class="form-control-file" id="barracas_csv" name="barracas_csv">
        </div>
        <div class="form-group">
            <label for="cofarsur_csv">CSV Cofarsur:</label>
            <input type="file" class="form-control-file" id="cofarsur_csv" name="cofarsur_csv">
        </div>
        <div class="form-group">
            <label for="sud_csv">CSV del Sud:</label>
            <input type="file" class="form-control-file" id="sud_csv" name="sud_csv">
        </div>
        <div class="form-group">
            <label for="txt_file">Archivo TXT:</label>
            <input type="file" class="form-control-file" id="txt_file" name="txt_file">
        </div>
        <button type="submit" class="btn btn-primary">Subir Archivos</button>
    </form>

    <h2>Descargar Archivos</h2>
    <ul>
        <li><a href="/download/barracas.csv">Descargar CSV Barracas</a></li>
        <li><a href="/download/cofarsur.csv">Descargar CSV Cofarsur</a></li>
        <li><a href="/download/sud.csv">Descargar CSV del Sud</a></li>
        <li><a href="/download/archivo.txt">Descargar Archivo TXT</a></li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
